
<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div style="text-align:center">


            <span style="color:blue" uk-icon="check"></span>
            <p>#@ViewBag.orderid nolu </p>
            <p>
                Siparişiniz Tamamlandı
            </p>

        </div>

    </div>
</section>