@model FilteredProductDTO
<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-grid-medium uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-text-center uk-first-column">
                @await Html.PartialAsync("_PartialProductAllPageInfo",Model)
            </div>
            <div class="uk-grid-margin uk-first-column">
                <div class="uk-grid-medium uk-grid" uk-grid="">
                    <aside class="uk-width-1-4 tm-aside-column tm-filters uk-offcanvas uk-first-column" id="filters" uk-offcanvas="overlay: true; container: false;">
                        <div class="uk-offcanvas-bar uk-padding-remove">
                            <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column uk-height-1-1">
                                @*
                                FilterData area*@

                                @await Component.InvokeAsync("FiterArea")

                            </div>
                        </div>
                    </aside>
                    <div class="uk-width-expand">
                        <div class="uk-grid-medium uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                            <div class="uk-first-column">
                                <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                    <div class="uk-grid-collapse uk-child-width-1-1 uk-grid uk-grid-stack" id="products" uk-grid="">

                                        @if (Model.Products.Count > 0)
                                        {



                                            <div class="uk-card-header uk-first-column">
                                                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                                                    <div class="uk-width-1-1 uk-width-expand@s uk-flex uk-flex-center uk-flex-left@s uk-text-small uk-first-column">
                                                        <span class="uk-margin-small-right uk-text-muted">Sort by:</span>
                                                        <ul class="uk-subnav uk-margin-remove">
                                                            <li class="uk-active uk-padding-remove"><a class="uk-text-lowercase" href="#">relevant<span class="uk-margin-xsmall-left uk-icon" uk-icon="icon: chevron-down; ratio: .5;"><svg width="10" height="10" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-down"><polyline fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline></svg></span></a></li>
                                                            <li><a class="uk-text-lowercase" href="#">price</a></li>
                                                            <li><a class="uk-text-lowercase" href="#">newest</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-center uk-flex-middle">
                                                        <button class="uk-button uk-button-default uk-button-small uk-hidden@m" uk-toggle="target: #filters">
                                                            <span class="uk-margin-xsmall-right uk-icon" uk-icon="icon: settings; ratio: .75;">

                                                            </span>Filters
                                                        </button>
                                                        <div class="tm-change-view uk-margin-small-left">
                                                            <ul class="uk-subnav uk-iconnav js-change-view" uk-switcher="">
                                                                <li aria-expanded="true" class="uk-active">
                                                                    <a class="uk-active uk-icon" data-view="grid" uk-icon="grid" uk-tooltip="Grid" title="" aria-expanded="false">

                                                                    </a>
                                                                </li>
                                                                <li aria-expanded="false">
                                                                    <a data-view="list" uk-icon="list" uk-tooltip="List" class="uk-icon" title="" aria-expanded="false">
                                                                       
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-grid-margin uk-first-column">
                                                <div class="uk-grid-collapse uk-child-width-1-3 tm-products-grid js-products-grid uk-grid" uk-grid="">



                                                    @foreach (var item in Model.Products)
                                                    {

                                                        @await Html.PartialAsync("_OneProduct",item)

                                                    }


                                                </div>
                                            </div>

                                        }
                                        else
                                        {

                                            <div class="uk-card-header uk-first-column">

                                                <div style="text-align:center">
                                                    Aradığınız kriterde ürün bulunamadı!!
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                            @*  <div class="uk-grid-margin uk-first-column">
                            <ul class="uk-pagination uk-flex-center">
                            <li class="uk-active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="uk-disabled"><span>…</span></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#"><span uk-pagination-next="" class="uk-pagination-next uk-icon"><svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg" data-svg="pagination-next"><polyline fill="none" stroke="#000" stroke-width="1.2" points="1 1 6 6 1 11"></polyline></svg></span></a></li>
                            </ul>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>