@model UserContext

<div class="uk-navbar-right">
    <a class="uk-navbar-toggle tm-navbar-button" href="#"
       uk-search-icon></a>
    <div class="uk-navbar-dropdown uk-padding-small uk-margin-remove"
         uk-drop="mode: click;cls-drop: uk-navbar-dropdown;boundary: .tm-navbar-container;boundary-align: true;pos: bottom-justify;flip: x">
        <div class="uk-container">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <form class="uk-search uk-search-navbar uk-width-1-1">
                        <input class="uk-search-input" type="search" placeholder="Search…" autofocus>
                    </form>
                </div>
                <div class="uk-width-auto">
                    <a class="uk-navbar-dropdown-close" href="#"
                       uk-close></a>
                </div>
            </div>
        </div>
    </div>


    @*User.Identity--> .NET Idenetity nin view tarafındaki propertysidir. Kullanıcı loginlimi değilmi bilgisini buradan alabilirim*@

    @if (User.Identity.IsAuthenticated)
    {

        <a class="uk-navbar-item uk-link-muted tm-navbar-button" href="account.html"
           uk-icon="user">

          

        </a>
        <div class="uk-padding-small uk-margin-remove"
             uk-dropdown="pos: bottom-right; offset: -10; delay-hide: 200;" style="min-width: 150px;">

            <ul class="uk-nav uk-dropdown-nav">
                <li>
                    <a href="account.html">
                        Orders
                        <span>(2)</span>
                    </a>
                </li>
                <li>
                    <a href="favorites.html">
                        Favorites
                        <span>(3)</span>
                    </a>
                </li>
                <li><a href="personal.html">Personal</a></li>
                <li><a href="settings.html">Settings</a></li>
                <li class="uk-nav-divider"></li>
                <li><a asp-action="Logout" asp-controller="Auth">Log out</a></li>
            </ul>
        </div>
    }
    else
    {
        <a asp-action="Login" asp-controller="Auth">Login</a>
    }

    <a class="uk-navbar-item uk-link-muted tm-navbar-button" href="#"
       onclick="GetUserBasket()">
        <span uk-icon="cart"></span>
        @if (Model.BasketItemCount > 0)
        {

            <span id="basketNotificationCountSpan" class="uk-badge">@Model.BasketItemCount</span>
        }
        else
        {

            <span id="basketNotificationCountSpan" class="uk-badge" style="display:none"></span>
        }
    </a>
</div>

