html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.validationError {
    color: #e98c8c;
    font-size: 13px;
}

.basketitembutton {
    height: 29px;
    width: 30px;
    padding: 0;
    line-height: 30px;
}